<p id="notice"><%= notice %></p>

<p>
  <strong>Maximum product price:</strong>
  <%= @destination.maximum_product_price %>
</p>

<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'Back', destinations_path %>
